@charset "UTF-8";
/* graphic identity */
/* responsive breakpoints */
* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  padding-top: 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  h1 {
    margin-right: 30px;
    font-size: 35px;
  }
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  h2 {
    display: flex;
    justify-content: center;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

h5 {
  font-size: 24px;
  margin-bottom: -6px;
  padding-left: 12%;
  padding-right: 12%;
}

h6 {
  font-size: 24px;
  margin-left: 20px;
  padding-top: 50px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  h6 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
  }
}

/* button restaurants & order */
.button1 {
  border-radius: 30px;
  height: 50px;
  width: 220px;
  margin-bottom: 65px;
  margin-top: 10px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 0px 5px 10px #bdbbbb;
  position: relative;
  z-index: 1;
}
.button1:hover .button1__lighter {
  opacity: 1;
}
.button1__lighter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  opacity: 0;
  background-color: #ff83dd;
  box-shadow: 0px 7px 20px #bdbbbb;
  z-index: -1;
  transition: opacity 250ms;
}
.button1 .title-button1 {
  font-size: 16px;
}

/* button order menus */
.button1--menus {
  width: 185px;
  margin-top: 22px;
}

.button1--menus2 {
  width: 185px;
  margin-bottom: 80px;
  margin-top: 25px;
}

.order-button {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  height: 200px;
}
.order-button p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* button home */
.header2__home-button {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: flex-end;
}
.header2__home-button span {
  border: none;
  background: white;
  font-size: 20px;
  color: black;
}

/* animation heart home */
.card-heart {
  position: relative;
}

.card-heart .heart1 {
  width: 25px;
  height: 35px;
  font-size: 30px;
  margin-right: 25px;
}

.card-heart .heart1 path {
  fill: transparent;
  stroke-width: 20;
  stroke: black;
}

.card-heart .heart1:hover path {
  animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart {
  0% {
    fill: transparent;
  }
  70% {
    fill: #FF79DA;
  }
  100% {
    fill: #9356DC;
  }
}
/* animation heart menus */
.heart1--menus {
  margin-top: 40px;
  margin-right: 35px;
}
@media screen and (min-width: 768px) {
  .heart1--menus {
    margin-top: 25px;
  }
}

/* loading spinner */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  animation: disappear 3s forwards;
}

@keyframes disappear {
  100% {
    visibility: hidden;
  }
}
.lds-circle {
  display: grid;
  transform: translateZ(1px);
}
.lds-circle h1 {
  font-size: 50px;
  padding-top: 120px;
  margin-left: 30px;
}

.lds-circle > div {
  display: inline-block;
  width: 350px;
  height: 350px;
  margin: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  animation: lds-circle 2s cubic-bezier(0, 0, 0.5, 1) forwards;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
/* animation cards */
.menu__card:nth-child(2) {
  animation: card-appearance 0.5s ease-in-out;
}

.menu__card:nth-child(3) {
  animation: card-appearance 1s ease-in-out;
}

.menu__card:nth-child(4) {
  animation: card-appearance 1.5s ease-in-out;
}

.menu__card:nth-child(5) {
  animation: card-appearance 2s ease-in-out;
}

@keyframes card-appearance {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* slide-in slide-out check button */
.selection {
  width: 70px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection .select {
  width: 30px;
  height: 30px;
  font-size: 30px;
  animation: rotate-icon-out 0.3s ease-out;
}
.selection .select path {
  fill: white;
}

.menu__card:hover .menu-price {
  right: 0px;
}
.menu__card:hover .selection {
  display: flex;
}
.menu__card:hover .select {
  width: 30px;
  height: 30px;
  font-size: 30px;
  animation: rotate-icon-in 0.3s ease-in;
}
.menu__card:hover .select path {
  fill: white;
}
.menu__card:hover .menu-txt {
  margin-right: 0px;
}

@keyframes rotate-icon-in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-icon-out {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
}
.header1, .header2 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 3px #cacaca;
}
.header1 .header__logo, .header2 .header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4%;
  padding-top: 5%;
}
.header1 .header__logo img, .header2 .header__logo img {
  width: 44%;
}
@media screen and (min-width: 996px) {
  .header1 .header__logo, .header2 .header__logo {
    width: 70%;
    margin: auto;
  }
}

.header2 {
  box-shadow: none;
  padding-top: 1%;
}
@media screen and (min-width: 768px) {
  .header2 .header__logo {
    padding-bottom: 2%;
    padding-top: 1%;
  }
}
.header2 .header__logo img {
  width: 50%;
  position: relative;
  right: 30px;
}
@media screen and (min-width: 768px) {
  .header2 .header__logo img {
    width: 30%;
  }
}

.header2--menu1 {
  background: white;
}
@media screen and (min-width: 768px) {
  .header2--menu1 {
    margin-bottom: -15%;
  }
}

.header2--menu2 {
  background: white;
  margin-bottom: -25%;
}
@media screen and (min-width: 768px) {
  .header2--menu2 {
    margin-bottom: -50%;
  }
}

.footer {
  background: hsla(0deg, 0%, 17%, 0.95);
  margin-top: -20px;
  height: 200px;
  width: 100%;
}

.footer__logo {
  position: relative;
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 12px;
  left: 25px;
  top: 25px;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    left: 0px;
  }
}
.footer__logo h2 {
  color: white;
  font-family: "Shrikhand", sans-serif;
}

.footer__links {
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    font-size: 18px;
    margin-left: 0px;
  }
}
.footer__links a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer__links a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.link1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: -24px;
}
.link1 i {
  width: 35px;
  position: relative;
  top: 20px;
  font-size: 13px;
}
.link1 p {
  margin-left: -10px;
}

.mentions {
  margin-bottom: -5px;
}

/* search city form */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: rgb(236, 236, 236);
}
@media screen and (min-width: 996px) {
  .location {
    padding-left: 0px;
  }
}
.location input {
  position: relative;
  left: 15px;
  background-color: rgb(236, 236, 236);
  border: none;
}

/* introduction */
.intro {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  text-align: center;
  align-items: center;
  height: 230px;
}
@media screen and (min-width: 768px) {
  .intro {
    height: 150px;
  }
}
.intro p {
  font-size: 18px;
  font-weight: 300;
}

/* fonctionnnement */
.fonctionnement {
  background: white;
  height: 440px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    height: 300px;
  }
}

.fonctionnement__etapes {
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__etapes {
    display: flex;
    justify-content: space-around;
  }
}

.etape {
  display: flex;
  background: rgb(248, 248, 248);
  border-radius: 20px;
  margin-right: 18px;
  height: 75px;
  margin-bottom: 25px;
  align-items: center;
  box-shadow: 0px 5px 10px #e8e4e4;
}
.etape:hover {
  background: #F4ECFD;
}
.etape:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) {
  .etape {
    justify-content: center;
    width: 30%;
  }
}
.etape i {
  margin-left: 10px;
  margin-right: 24px;
  font-size: 18px;
  color: grey;
}

.nbr {
  margin-left: -8px;
  margin-right: 15px;
  background: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  font-size: 13px;
  color: white;
  border-radius: 59%;
  margin-bottom: 3px;
  padding-top: 7px;
}
@media screen and (min-width: 996px) {
  .nbr {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
  }
}

.text {
  font-weight: 500;
}

/* restaurants */
#restaurants {
  background: rgb(242, 242, 242);
  padding-bottom: 50px;
  margin-top: -50px;
}
#restaurants .title {
  text-align: center;
  margin-left: -200px;
}
@media screen and (min-width: 768px) {
  #restaurants .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    margin-left: 0px;
  }
}

.resto__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .resto__cards {
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 996px) {
  .resto__cards {
    width: 996px;
  }
}

.resto__card {
  height: 250px;
  width: 335px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #dedbdb;
}
@media screen and (min-width: 768px) {
  .resto__card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 996px) {
  .resto__card {
    height: 340px;
    width: 460px;
  }
}
.resto__card a {
  text-decoration: none;
  color: black;
}

.image-resto {
  height: 68%;
  width: 100%;
  position: relative;
}
.image-resto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.notify-badge {
  position: absolute;
  background: rgb(155, 242, 225);
  height: 30px;
  top: 15px;
  right: 15px;
  width: 80px;
  text-align: center;
  line-height: 2rem;
  font-size: 14px;
  border-radius: 2px;
  color: #268666;
  font-weight: 600;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
}
.card-body .card-title {
  margin-left: 14px;
  margin-bottom: 5px;
}
@media screen and (min-width: 996px) {
  .card-body .card-title {
    margin-top: 10px;
  }
}
.card-body .card-title p {
  margin-top: -15px;
  font-size: 17px;
  font-weight: 300;
}

main {
  background: #f2f2f2;
}

/* menu grl */
.menu__general {
  margin-bottom: 10px;
  position: relative;
  background-color: rgb(242, 242, 242);
  border-radius: 40px 40px 0px 0px;
}
@media screen and (min-width: 996px) {
  .menu__general {
    display: block;
    justify-content: space-around;
    align-items: center;
  }
}

.menu__general--2 {
  position: relative;
  top: -112px;
  margin-bottom: -112px;
  background: rgb(242, 242, 242);
  border-radius: 40px 40px 0px 0px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .menu__general--2 {
    margin-top: -30%;
  }
}
@media screen and (min-width: 996px) {
  .menu__general--2 {
    display: block;
    height: 700px;
    margin-bottom: -200px;
  }
}

/* name of restaurant */
.menu-picture {
  width: 100%;
  height: auto;
}
.menu-picture img {
  width: 100%;
  height: auto;
}

.menu-picture__title {
  display: flex;
  justify-content: space-between;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -13%;
  background: #f2f2f2;
}
@media screen and (min-width: 768px) {
  .menu-picture__title {
    height: 200px;
    justify-content: center;
    align-items: center;
  }
}

/* selection entrée, plat, dessert */
@media screen and (min-width: 996px) {
  .menu__type-master {
    display: flex;
    justify-content: space-around;
  }
}

.menu__type {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .menu__type {
    align-items: center;
  }
}
@media screen and (min-width: 996px) {
  .menu__type {
    width: 31%;
    margin-right: 12px;
  }
}

/* menu title classic */
.menu-title {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 12px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .menu-title {
    width: 75px;
    margin: auto;
    margin-bottom: 15px;
  }
}

/* menu title with margin-left */
.menu-title--marge {
  margin-left: 40px;
}

/* menu title with margin-top */
.menu-title--top {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .menu-title--top {
    margin-top: 0px;
  }
}

/* cards */
.menu__card {
  overflow: hidden;
  display: flex;
  background: white;
  border-radius: 15px;
  margin-bottom: 13px;
  box-shadow: 0px 2px 10px #dcdcdc;
  justify-content: space-between;
  width: 97%;
  height: 70px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__card {
    width: 70%;
    height: 50%;
  }
}
@media screen and (min-width: 996px) {
  .menu__card {
    width: 100%;
    height: 50%;
  }
}

.menu__card4 {
  height: 50%;
  width: 97%;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__card4 {
    width: 70%;
    height: 50%;
  }
}
@media screen and (min-width: 996px) {
  .menu__card4 {
    width: 100%;
    height: 50%;
  }
}

.menu-txt {
  margin-left: 10px;
  margin-top: -5px;
  margin-right: -60px;
  overflow: hidden;
}
.menu-txt p {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-txt4 {
  margin-right: 10px;
}

.menu-price {
  display: flex;
  height: 100%;
  position: relative;
  right: -70px;
  transition: all 0.5s;
}
.menu-price p {
  justify-content: center;
  margin-right: 20px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 15px;
}

.menu-price4 p {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
